<!DOCTYPE html>
<html lang="tr">
<head>
  <title>Diyet Uzmanı</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<!-- Links -->
  <ul class="navbar-nav">
      <!-- Navbar text-->
    <li class="nav-item">
      <a class="nav-link active" href="/">Diyet Uzmanı</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/hakkimizda">Hakkımızda</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/iletisim">İletişim</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/mesajlar">Mesajlar</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/cikis"> Merhaba {{kullanici}} - Çıkış yap</a>
    </li>
  </ul>

</nav>

<div class="container-fluid">
<table width="100%">
    <tr>
        <td width="70%">
          <br>
            <div id="demo" class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul>

              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/static/la.jpeg" class="d-block w-100" alt="Los Angeles">
                </div>
                <div class="carousel-item">
                  <img src="/static/chicago.jpeg" class="d-block w-100" alt="Chicago">
                </div>
                <div class="carousel-item">
                  <img src="/static/ny.jpeg" class="d-block w-100" alt="New York">
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>

            </div>

        </td>
        <td width="4%">
            &nbsp;
        </td>
        <td>

            <h4>Vücut Kitle İndeksi</h4>
            <div>

                <form class="form-horizontal" action="/hesapla" method="post">
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="boy">Boy:</label>
                    <div class="col-sm-10">
                      <input type="text" value="{{boy}}" class="form-control" id="boy" name="boy" placeholder="Boyunuz">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="kilo">Kilo:</label>
                    <div class="col-sm-10">
                      <input type="text" value="{{kilo}}" class="form-control" id="kilo" name="kilo" placeholder="Kilonuz">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="kilo">Cinsiyet:</label>
                    <div class="col-sm-10">
                      <label class="radio-inline"><input type="radio" name="cinsiyet" value="K" checked>Kadın</label>
                    <label class="radio-inline"><input type="radio" name="cinsiyet" value="E">Erkek</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-primary">Hesapla</button>
                    </div>
                  </div>
                  {% if hesaplama_mesaji %}
                  <div class="form-group">
                    <div class="alert alert-{{renk}}">
                      {{hesaplama_mesaji}}
                    </div>
                    {% if link_var %}
                      <a href="/iletisim">Size yardımcı olalım!</a>
                    {% endif %}
                  </div>
                  {% endif %}

                </form>


            </div>
        </td>
    </tr>
</table>


</div>




</body>
</html>



<!--
<h1>
    <table>
        <tr>
            <td width="93%">
                <span>Diyet Uzmanı</span>
            </td>

            <td>
                <a href="https://wa.me/905555555555">
                    <img width="40" src="/static/whatsapplogo.jpeg">
                </a>
            </td>
            <td>
                <a href="https://www.instagram.com/deneme/">
                    <img width="40" src="/static/instalogo.jpeg">
                </a>
            </td>
        </tr>
    </table>
</h1>

<ul>
    <li><a class="active" href="#anasayfa">Ana sayfa</a></li>
    <li><a href="/hakkimizda">Hakkımızda</a></li>
    <li><a href="/basarihikayeleri">Başarı Hikayeleri</a></li>
    <li><a href="/urunler">Ürünler</a></li>
    <li><a href="/iletisim">İletişim</a></li>
</ul>




</body>
</html>

-->