<!DOCTYPE html>
<html lang="tr">
<head>
  <title>İletişim</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<!-- Links -->
  <ul class="navbar-nav">
      <!-- Navbar text-->
  <span class="navbar-text">
    Diyet uzmanı
  </span>
    <li class="nav-item">
      <a class="nav-link" href="/">Ana sayfa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/hakkimizda">Hakkımızda</a>
    </li>
      <li class="nav-item active">
      <a class="nav-link" href="/iletisim">İletişim</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/mesajlar">Mesajlar</a>
    </li>
  </ul>



</nav>

  <h1>Bize ulaşın</h1>
    <form action="/mesajkaydet" method="post">
    <div class="form-group">
      <label for="adsoyad">Ad Soyad:</label>
      <input type="text" class="form-control" id="adsoyad" name="adsoyad">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
      <label for="mesaj">Mesajınız:</label>
      <textarea class="form-control" rows="5" id="mesaj" name="mesaj"></textarea>
    </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>



</div>

</body>
</html>
