<!DOCTYPE html>
<html lang="tr">
<head>
  <title>İletişim</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>



<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<!-- Links -->
  <ul class="navbar-nav">
      <!-- Navbar text-->
    <li class="nav-item">
      <a class="nav-link" href="/">Diyet Uzmanı</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/hakkimizda">Hakkımızda</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/iletisim">İletişim</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/mesajlar">Mesajlar</a>
    </li>
  </ul>



</nav>

<div class="container-fluid">
    <h1>Mesajlar</h1>


  <ul class="list-group">
    {%for mesaj in mesaj_listesi%}
    <li class="list-group-item">
      Ad Soyad: {{mesaj["adsoyad"]}} - Email: {{mesaj["email"]}} - Mesaj: {{mesaj["mesaj"]}}
    </li>
    {%endfor%}
  </ul>

    <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Ad Soyad</th>
        <th>Email</th>
        <th>Mesaj</th>
      </tr>
    </thead>
    <tbody>
    {%for mesaj in mesaj_listesi%}
      <tr>
        <td>{{mesaj["adsoyad"]}}</td>
        <td>{{mesaj["email"]}}</td>
        <td>{{mesaj["mesaj"]}}</td>
      </tr>
    {%endfor%}
    </table>




    <div class="card-columns">
      {%for mesaj in mesaj_listesi%}
      <div class="card" style="width:400px">
          <div class="card-body">
            <h4 class="card-title">{{mesaj["adsoyad"]}}</h4>
            <p class="card-text">{{mesaj["mesaj"]}}</p>
            <a href="mailto:{{mesaj['email']}}" class="card-link">Cevap yaz</a>
          </div>
      </div>

      {%endfor%}
    </div>




</div>

</body>
</html>
